<section>
  <div class="page-header row">
    <h1 class="col-md-8">Goals</h1>
    <button class="btn btn-default" style="float:right;margin-top: 25px;" ng-click="createGoal()">New Goal</button>
    <div class="clearfix"></div>
    <h5 style="font-style: italic; padding-left: 10px">{{diffDays}} days left to finish your goals</h5>
  </div>

  <div ng-init="getPoints()">
    <p>You have {{vm.points}} points</p>
    <p ng-if="vm.points >= 10">You have enough points to <a ui-sref="rewards.list">claim a reward!</a></p>
    <div class="progress">
      <p ng-if="vm.points == 0">Complete goals to earn points!</p>
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{vm.points}}"
      aria-valuemin="0" aria-valuemax="10" style="width:{{vm.points*10}}%">
      </div>
    </div>
  </div>

  <div class="list-group ">
    <label>Complete</label>
    <a ng-repeat="goal in vm.goals"
       ng-if="(goal.status == 'Complete')  && ((goal.week_timestamp | date:'dd/MM/yyyy') == (monday | date:'dd/MM/yyyy'))"
       class="list-group-item row">
      <div class="col-md-5">
        <small class="list-group-item-text" style="display:block">
          Created on
          <span ng-bind="goal.created_at | date:'mediumDate'"></span>
          by
          <span ng-if="goal.user" ng-bind="goal.user.displayName"></span>
          <span ng-if="!goal.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" style="display:inline">{{goal.title}} </h4>
        <h4 class="list-group-item-heading" style="display:inline">({{goal.category}})</h4>
      </div>
	  <div class="col-md-3">
		{{goal.priority}}
	  </div>
      <div class="col-md-2">
        <button class="btn btn-info" style="float:right" ui-sref="goals.view({ goalId: goal._id })">View</button>
      </div>
    </a>
  </div>

  <div class="list-group ">
    <label>In Progress</label>
    <a ng-repeat="goal in vm.goals"
       ng-if="(goal.status == 'In Progress') && ((goal.week_timestamp | date:'dd/MM/yyyy') == (monday | date:'dd/MM/yyyy'))"
       class="list-group-item row">
      <div class="col-md-5">
        <small class="list-group-item-text" style="display:block">
          Created on
          <span ng-bind="goal.created_at | date:'mediumDate'"></span>
          by
          <span ng-if="goal.user" ng-bind="goal.user.displayName"></span>
          <span ng-if="!goal.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" style="display:inline">{{goal.title}} </h4>
        <h4 class="list-group-item-heading" style="display:inline">({{goal.category}})</h4>
      </div>
	  <div class="col-md-3">
		{{goal.priority}}
	  </div>
      <div class="col-md-2">
        <button class="btn btn-info" style="float:right" ui-sref="goals.view({ goalId: goal._id })">View</button>
      </div>
      <div class="col-md-2">
        <button class="btn" style="float:right" ng-click="markGoalComplete(goal)">I'm Done!</button>
      </div>
    </a>
  </div>

  <div class="list-group ">
    <label>Not Started</label>
    <a ng-repeat="goal in vm.goals"
       ng-if="(goal.status == 'Not Started') && ((goal.week_timestamp | date:'dd/MM/yyyy') == (monday | date:'dd/MM/yyyy'))"
       class="list-group-item row">
      <div class="col-md-5">
        <small class="list-group-item-text" style="display:block">
          Created on
          <span ng-bind="goal.created_at | date:'mediumDate'"></span>
          by
          <span ng-if="goal.user" ng-bind="goal.user.displayName"></span>
          <span ng-if="!goal.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" style="display:inline">{{goal.title}} </h4>
        <h4 class="list-group-item-heading" style="display:inline">({{goal.category}})</h4>
      </div>
	  <div class="col-md-3">
		{{goal.priority}}
	  </div>
      <div class="col-md-2">
          <button class="btn btn-info" style="float:right" ui-sref="goals.view({ goalId: goal._id })">View</button>
      </div>
      <div class="col-md-2">
        <button class="btn" style="float:right" ng-click="markGoalInProgress(goal)">I've started!</button>
      </div>
    </a>
  </div>

  <hr>

  <div class="list-group ">
    <h3>Previous Goals</h3>
    <a ng-repeat="goal in vm.goals"
       ng-if="(goal.week_timestamp | date:'dd/MM/yyyy') < (monday | date:'dd/MM/yyyy')"
       class="list-group-item row">
      <div class="col-md-5">
        <small class="list-group-item-text" style="display:block">
          Created on
          <span ng-bind="goal.created_at | date:'mediumDate'"></span>
          by
          <span ng-if="goal.user" ng-bind="goal.user.displayName"></span>
          <span ng-if="!goal.user">Deleted User</span>
        </small>
        <h4 class="list-group-item-heading" style="display:inline">{{goal.title}} </h4>
        <h4 class="list-group-item-heading" style="display:inline">({{goal.category}})</h4>
      </div>
	  <div class="col-md-3">
		{{goal.priority}}
	  </div>
      <div class="col-md-2">
        <button class="btn btn-info" style="float:right" ui-sref="goals.view({ goalId: goal._id })">View</button>
      </div>
      <div class="col-md-2">
        <h5 style="float:right; font-weight: bolder">{{goal.status}}</h5>
      </div>
    </a>
  </div>

  <div class="alert alert-warning text-center" ng-if="vm.goals.$resolved && !vm.goals.length">
    No Goals yet, why don't you <a ui-sref="goals.create">create one</a>?
  </div>
</section>
