<style>
  .list-group-item {
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 0px !important;
  }
</style>
<container>
  <div class="page-header row">
    <h1 class="col-md-8">{{name}} Goals</h1>
    <button class="btn btn-default" style="float:right;margin-top: 25px;" ng-click="createGoal()" ng-hide="auth.user.roles[0] == 'admin'">New Goal</button>
    <div class="clearfix"></div>
    <h5 style="font-style: italic; padding-left: 10px" ng-hide="auth.user.roles[0] == 'admin'">{{diffDays}} days left to finish your goals</h5>
  </div>
  <div ng-init="updatePoints();">
    <p>You have {{vm.points}} points</p>
    <p ng-if="vm.points >= 10">You have enough points to <a ui-sref="rewards.list">claim a reward!</a></p>
    <div class="progress">
      <p ng-if="vm.points == 0">Complete goals to earn points!</p>
      <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{vm.points}}"
      aria-valuemin="0" aria-valuemax="10" style="width:{{vm.points*10}}%">
      </div>
    </div>
  </div>

  <h2 class="row">Current Goals</h2>
  <div class="row" id="currentWeek">
    <div class="list-group col-md-4">
      <h4 style="font-weight: bolder">To Do</h4>
      <div ng-repeat="goal in vm.goals"
           ng-if="(goal.status == 'Not Started')"
           class="list-group-item"
            style="margin-bottom: 5px;">
        <div class="row">
          <div class="col-md-1" style="position: relative; height: 100%; width: 20px; padding: 0px; margin-bottom: 0px; margin-top: 0px; bottom: 5px; clear: both;">
            <div ng-style="todoCSS(goal)"
              style="background-color: #505050; width:1px;
            transform: rotate(-90deg); transform-origin: bottom right;
            position: relative; height: 100%; width: 100%;
            margin-top: -25px; clear: both;
            border-right: solid #505050; color: white;"> {{goal.priority}}</div>
          </div>
          <div class="col-md-8" style="padding-right: 0px;">
            <h4 class="list-group-item-heading" style="display:block; font-weight: bold">{{goal.title}} </h4>
            <h5 class="list-group-item-heading" style="display:inline">{{goal.category}} </h5>
          </div>
          <div class="col-md-2">
            <button class="btn" style="padding-top: 0; padding-bottom: 0; margin-top: 6px; margin-bottom: 5px" ui-sref="goals.view({ goalId: goal._id })">View</button>
            <button class="btn btn-primary" style="padding-top: 0; padding-bottom: 0" ng-click="markGoalInProgress(goal)">Start</button>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group col-md-4">
      <h4 style="font-weight: bolder">In Progress</h4>
      <div ng-repeat="goal in vm.goals"
           ng-if="(goal.status == 'In Progress')"
           class="list-group-item"
           style="margin-bottom: 5px;">
        <div class="row">
          <div class="col-md-1" style="position: relative; height: 100%; width: 20px; padding: 0px; margin-bottom: 0px; margin-top: 0px; bottom: 5px; clear: both;">
            <div ng-style="inProgressCSS(goal)"
            style="background-color: #347fa5; width:1px;
            transform: rotate(-90deg); transform-origin: bottom right;
            position: relative; height: 100%; width: 100%;
            margin-top: -25px; clear: both; color: white;"> {{goal.priority}}</div>
          </div>
          <div class="col-md-7" style="padding-right: 0px;">
            <h4 class="list-group-item-heading" style="display:block; font-weight: bold">{{goal.title}} </h4>
            <h5 class="list-group-item-heading" style="display:inline">{{goal.category}} </h5>
          </div>
          <div class="col-md-2">
            <button class="btn" style="padding-top: 0; padding-bottom: 0; margin-top: 6px; margin-bottom: 5px" ui-sref="goals.view({ goalId: goal._id })">View</button>
            <button class="btn" style="padding-top: 0; padding-bottom: 0; padding-left: 8px; padding-right: 8px; background-color: #30bb00; color: white;" ng-click="markGoalComplete(goal)">Finish</button>
          </div>
        </div>
      </div>
    </div>
    <div class="list-group col-md-4">
      <h4 style="font-weight: bolder">Completed</h4>
      <div ng-repeat="goal in vm.goals"
           ng-if="(goal.status == 'Complete') && ((goal.completed_at | date:'yyyy/MM/dd') >= (monday | date:'yyyy/MM/dd'))"
           class="list-group-item"
           style="margin-bottom: 5px;">
        <div class="row">
          <div class="col-md-1" style="position: relative; height: 100%; width: 20px; padding: 0px; margin-bottom: 0px; margin-top: 0px; bottom: 5px; clear: both;">
            <div ng-style="completedCSS(goal)"
              style="background-color: #30bb00; width:1px;
            transform: rotate(-90deg); transform-origin: bottom right;
            position: relative; height: 100%; width: 100%; margin-left: -45px;
            margin-top: -25px; clear: both; padding-left: 5px;
            border-right: 60px solid #30bb00; color: white;"> {{goal.priority}}</div>
          </div>
          <div class="col-md-7" style="padding-right: 0px;">
            <h4 class="list-group-item-heading" style="display:block; font-weight: bold">{{goal.title}} </h4>
            <h5 class="list-group-item-heading" style="display:inline">{{goal.category}} </h5>
          </div>
          <div class="col-md-2">
            <button class="btn" style="padding-top: 0; padding-bottom: 0; margin-top: 6px; margin-bottom: 5px" ui-sref="goals.view({ goalId: goal._id })">View</button>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="alert alert-warning text-center" ng-if="vm.goals.$resolved && !vm.goals.length">
    No Goals yet, why don't you <a ui-sref="goals.create">create one</a>?
  </div>
</container>

<hr>
<div ng-hide="vm.goals.$resolved && !vm.oldGoals.length">
  <h2 class="col-md-8">Previously Completed Goals</h2>
  <div class="list-group">
    <table st-table="vm.oldGoals" id="goals-table" class="table table-striped">
      <thead>
      <th style="width:130px">Title</th>
      <th style="width:130px">Category</th>
      <th style="width:130px">Started On</th>
      <th style="width:130px">Completed On</th>
      </thead>
      <tbody>
      <tr ng-repeat="goal in vm.oldGoals" >
        <td ng-bind="goal.title"></td>
        <td ng-bind="goal.category"></td>
        <td ng-bind="(goal.started_at | date:'mediumDate')"></td>
        <td ng-bind="(goal.completed_at | date:'mediumDate')"></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<hr>
<div ng-hide="vm.goals.$resolved && !vm.oldGoals.length">
  <canvas id="bar" class="chart chart-line"
          chart-data="data" chart-labels="labels" chart-options="options" chart-series="series">
  </canvas>
</div>
