<section>
  <div class="page-header">
    <h1>Goals</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="goal in vm.goals"
       ui-sref="goals.view({ goalId: goal._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="goal.created | date:'mediumDate'"></span>
        by
        <span ng-if="goal.user" ng-bind="goal.user.displayName"></span>
        <span ng-if="!goal.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="goal.name"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.goals.$resolved && !vm.goals.length">
    No Goals yet, why don't you <a ui-sref="goals.create">create one</a>?
  </div>
</section>
