<section>
  <div class="page-header">
    <h1 ng-bind="vm.goal.title"></h1>
  </div>
  <div class="pull-right">
    <a class="btn btn-primary"
       ui-sref="goals.edit({ goalId: vm.goal._id })">
      <i class="glyphicon glyphicon-edit"></i> Edit
    </a>
    <a class="btn btn-danger" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i> Delete
    </a>
  </div>
  <small>
    <em class="text-muted">
      Created on
      <span ng-bind="vm.goal.created_at | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.goal.description"></p>
  <p> Status:
    <span ng-bind="vm.goal.status"></span>
  </p>
  <p ng-hide="vm.goal.started_at == null"> Started on
    <span ng-bind="vm.goal.started_at | date:'mediumDate'"></span>
  </p>
  <p ng-hide="vm.goal.completed_at == null"> Completed on
    <span ng-bind="vm.goal.completed_at | date:'mediumDate'"></span>
  </p>
</section>
