<section>
  <div class="page-header">
    <h1 ng-bind="vm.goal.title"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.goal.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="goals.edit({ goalId: vm.goal._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.goal.created_at | date:'mediumDate'"></span>
      by
      <span ng-if="vm.goal.user"
            ng-bind="vm.goal.user.displayName"></span>
      <span ng-if="!vm.goal.user">Deleted User</span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.goal.description"></p>
</section>
