<section>
  <div class="page-header">
    <h1 ng-bind="vm.reward.name"></h1>
  </div>
  <div>
    <h3>You need {{ vm.reward.points }} points to claim this reward. You currently have {{ vm.goalPoints.goalPoints.points }} points. </h3>
  </div>
  <div class="pull-right"
       ng-show="vm.reward.isCurrentUserOwner">
    <button class="btn btn-primary"
       ng-click="vm.claim()" ng-if="vm.reward.points <= vm.goalPoints.goalPoints.points">
      Claim!
    </button>
    <button class="btn btn-danger" ng-click="vm.remove()">
      Delete
    </button>
  </div>
  <small>
    <em class="text-muted">
      Reward added on
      <span ng-bind="vm.reward.created | date:'mediumDate'"></span>
    </em>
  </small>
  <p class="lead" ng-bind="vm.reward.content"></p>
</section>
