<div ng-controller="ProfilesController">
  <div class="modal-header">
    <h3 class="modal-title">Priorities and Satisfactions Categories</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li><strong>Family</strong> - immediate and/or extended relationship</li>
      <li><strong>Health</strong> - work out schedule, healthy diet</li>
      <li><strong>Rest and Relaxation</strong> - personal time to do something you enjoy</li>
      <li><strong>Faith</strong> - meditation, devotionals, meetings</li>
      <li><strong>Finance</strong> - plans for saving, investing, and managing</li>
      <li><strong>Romance</strong> - spending quality time with significant other</li>
      <li><strong>Friends</strong> - reaching out and connecting with people you care about</li>
      <li><strong>Contribution</strong> - giving of your time, talents, and treasures</li>
      <li><strong>Personal Growth</strong> - exposure to new things/people, seminars, books</li>
      <li><strong>Career</strong> - position provides growth, purpose, and financial stability</li>
      <li><strong>Physical Environment</strong> - personal space: car, home, neighborhood, city</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK</button>
  </div>
</div>
