<div ng-controller="ProfilesController">
  <div class="modal-header">
    <h3 class="modal-title">Priorities and Satisfactions Categories</h3>
  </div>
  <div class="modal-body">
    <ul>
      <li>Family - immediate and/or extended relationship</li>
      <li>Health - work out schedule, healthy diet</li>
      <li>Rest and Relaxation - personal time to do something you enjoy</li>
      <li>Faith - meditation, devotionals, meetings</li>
      <li>Finance - plans for saving, investing, and managing</li>
      <li>Romance - spending quality time with significant other</li>
      <li>Friends - reaching out and connecting with people you care about</li>
      <li>Contribution - giving of your time, talents, and treasures</li>
      <li>Personal Growth - exposure to new things/people, seminars, books</li>
      <li>Career - position provides growth, purpose, and financial stability</li>
      <li>Physical Environment - personal space: car, home, neighborhood, city</li>
    </ul>
  </div>
  <div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()">OK!</button>
  </div>
</div>
