<section ng-controller="ProfilesController" ng-init="findOne(authentication.user._id)">
  <div class="page-header">
    <h1>Priorities and Satisfaction Ratings</h1>
  </div>
  <div class="col-md-12">
     <div ng-show="profileCanChange" id="editButton1" class="form-group">
      <p>
      <strong>
        You can update your priorities and satisfactions!
        </strong>
        </p>
        <input class="btn btn-primary" value="Edit" onclick="editProf()">
     </div>

    <form name="profileForm" class="form-horizontal" ng-submit="update();">
      <fieldset>
        <h2>Priorities</h2>
      <p>
        Your current order of priorities.
        </p>
        <ul id="sort1" ui-sortable="sortablePriorities" ng-model="profile.priorities" class="profiles-list">
          <li  ng-repeat="priority in prioritiesArray | orderBy:'rank'" class="profiles-list-element">{{ priority.name }}</li>
        </ul>
    <h2>Satisfactions</h2>
    <p>
        Your current satisfaction levels.
    </p>
    <div class="form-group">
      <div class="col-md-2">Family
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Family"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Health
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Health"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Rest and Relaxation
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Rest_and_Relaxation"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Faith
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Faith"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Finance
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Finance"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Romance
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Romance"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Friends
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Friends"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Contribution
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Contribution"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Personal Growth
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Personal_Growth"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Career
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Career"></div>
      </div>
    </div>
    <div class="form-group">
      <div class="col-md-2">Physical Environment
      </div>
      <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="profile.satisfactions.Physical_Environment"></div>
      </div>
    </div>



    <div></div>
        <div class="form-group">
          <input id="saveButton1" type="submit" class="btn btn-primary" value="Save" disabled="true">
        </div>
        <div ng-show="error" class="text-danger">
          <strong ng-bind="error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>

<script type="text/javascript">
$(function(){
  $(".profile-slider").slider("disable");
  $("#sort1").sortable("disable");
});
var editProf = function(){
  $(".profile-slider").slider("enable");
  $("#sort1").sortable("enable");
  document.getElementById("editButton1").remove();
  $("#saveButton1").attr('disabled', false);
};
</script>
