.profiles-list {
	list-style-type: decimal;
	width: 250px;
	margin-left: 10px;
}

.profiles-list-element {
	background-color: #4EB0DA;
	border: solid #39a7d6 1px;
	margin-left: -30px;
	padding: 8px;
}

.profiles-list-element:hover {
	background-color: #67DEFF;
	cursor: pointer;
}

.profile-slider {
	margin-top: 5px;
}