<section>
  <div class="page-header">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <table st-table="pagedItems" id="user-table" class="table table-striped">
      <thead>
        <th style="width:130px">Name</th>
        <th style="width:130px">Email</th>
        <th style="width:130px">Role</th>
		<th>Goals Completed (4 weeks)</th>
        <th>Goals Completed (past week)</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in pagedItems">
          <td ng-bind="user.displayName"></td>
          <td ng-bind="user.email"></td>
          <td ng-bind="user.roles"></td>
          <td ng-bind="user.fourWeeks"></td>
          <td ng-bind="user.pastWeek"></td>
          <td>
            <a ui-sref="admin.profile-view({userId: user._id})">
              <button type="button">Profile</button>
            </a>
            <a ui-sref="admin.goals-view({userId: user._id})">
              <button type="button">Goals</button>
            </a>
            <a ui-sref="admin.user({userId: user._id})">
              <button type="button">Account Info</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
</section>
