<section>
  <div class="page-header" ng-init="checkboxUser = true; loadData();">
    <div class="row">
      <div class="col-md-4">
        <h1>Users</h1>
      </div>
      <div class="col-md-4" style="margin-top: 2em">
        <input class="form-control col-md-4" type="text" ng-model="search" placeholder="Search" ng-change="figureOutItemsToDisplay()" />
      </div>
    </div>
  </div>
  <div class="list-group">
    <label><input type="checkbox" name="checkboxUser" value="checkboxUser" ng-model="checkboxUser" ng-click="loadData()" class="checkboxLabel">Only show Users</label>
    <table st-table="pagedItems" id="user-table" class="table table-striped">
      <thead>
        <th style="width:130px">Name</th>
        <th style="width:130px">Email</th>
		<th>Goals completed<br /># of goals started<br />(past 4 weeks)</th>
        <th>Goals completed<br /># of goals started<br />(past week)</th>
        <th>Goals completed<br /># of goals started<br />(current week)</th>
        <th>Actions</th>
      </thead>
      <tbody>
        <tr ng-repeat="user in pagedItems">
          <td ng-bind="user.displayName"></td>
          <td ng-bind="user.email"></td>
          <td ng-bind="user.fourWeeks"></td>
          <td ng-bind="user.pastWeek"></td>
		  <td ng-bind="user.currentWeek"></td>
          <td>
            <a ui-sref="admin.user({userId: user._id})">
              <button type="button">Account Info</button>
            </a>
            <a ui-sref="admin.profile-view({userId: user._id})" ng-show="user.roles[0] === 'user'">
              <button type="button">Profile</button>
            </a>
            <a ui-sref="admin.goals-view({userId: user._id})" ng-show="user.roles[0] === 'user'">
              <button type="button">Goals</button>
            </a>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="filterLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  
  <h2>Goals started/completed</h2>
  <p>Displays a bar chart with the goals which were started and/or completed within the past four weeks or the current week.</p>
  <div class="list-group">
    <canvas id="bar" class="chart chart-bar" chart-data="data" chart-labels="labels" chart-series="series">
    </canvas>
  </div>
</section>
