<section ng-controller="AdminProfile">
  <div class="page-header">
    <h1>Priorities and Satisfaction Ratings</h1>
  </div>
  <div class="col-md-12">
    <form name="profileForm" class="form-horizontal">
    <fieldset>
      <h2>Priorities</h2>
      <p>
	    <strong>
        {{user}}'s current order of priorities.
        </strong>
      </p>
      <ul id="sort1" ui-sortable="sortablePriorities" class="profiles-list">
        <li style="color: #FFFFFF;" ng-repeat="priority in prioritiesArray | orderBy:'rank'" class="profiles-list-element" ng-bind="priority.name"></li>
      </ul>
      <h2>Satisfactions</h2>
      <p>
        <strong>
        {{user}}'s current satisfaction levels.
        </strong>
      </p>


      <div class="form-group">
        <div class="col-md-2">Family
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Family"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Health
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Health"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Rest and Relaxation
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Rest_and_Relaxation"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Faith
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Faith"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Finance
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Finance"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Romance
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Romance"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Friends
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Friends"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Contribution
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Contribution"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Personal Growth
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Personal_Growth"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Career
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Career"></div>
        </div>
      </div>
      <div class="form-group">
        <div class="col-md-2">Physical Environment
        </div>
        <div class="col-md-4"><div class="profile-slider" ui-slider data-tip min="1" max="10" ng-model="Satisfaction.Physical_Environment"></div>
        </div>
      </div>
    
      <div></div>
      <div ng-show="error" class="text-danger">
        <strong ng-bind="error"></strong>
      </div>
    </fieldset>
    </form>
  </div>
</section>

<script type="text/javascript">
  $(function(){
    $(".profile-slider").slider("disable");
    $("#sort1").sortable("disable");
  });
</script>
