<section ng-controller="VerificationsController">
  <div class="page-header">
    <h1>Admin verification</h1>
  </div>
  <div class="col-md-12">
  <label><input type="checkbox" name="checkboxActive" value="checkboxActive" ng-model="checkboxActive" ng-click="ListVerifications()" class="checkboxLabel">Display Active codes only</label>
    <div class="tableWrapper">
      <table st-table="pagedItems" class="table table-striped table-hover">
        <tr>
          <th>Code</th>
          <th>Active</th>
          <th>User</th>
          <th>Created</th>
		  <th>Type</th>
        </tr>
        <tr ng-repeat="verification in pagedItems">
          <td>{{verification.code}}</td>
          <td><span style='color: green;' ng-show="verification.active">Active</span><span style='color: red;' ng-show="!verification.active">Inactive</span></td>
          <td>
            <span ng-show="!verification.active">{{verification.user_id}}</span>
            <span ng-show="verification.active"><a  href="mailto:?subject=Accountability App Invitation&body=Hi,%0D%0A Please find your registration code below.%0D%0A%0D%0A 
			Code: {{verification.code}}%0D%0A%0D%0A The sign-up form can be found here:%0D%0A https://cen3031-groupb-lifecoaching.herokuapp.com/authentication/signup">
			<button type="button">Send email</button></a></span>
          </td>
          <td>{{verification.created_at}}</td>
          <td>{{verification.type}}</td>
        </tr>
      </table>
    </div>
  <pagination boundary-links="true" max-size="8" items-per-page="itemsPerPage" total-items="itemLength" ng-model="currentPage" ng-change="pageChanged()"></pagination>
  </div>
  <div class="col-md-12">
    <form name="userVerificationCreateForm" class="form-horizontal" ng-submit="CreateUserVerification();">
  	  <div class="form-group">
  	    <input type="submit" class="btn btn-primary" value="Generate new User Code">
	  </div>
	  <div ng-show="error" class="text-danger">
	    <strong ng-bind="error"></strong>
	  </div>
    </form>
	<form name="adminVerificationCreateForm" class="form-horizontal" ng-submit="CreateAdminVerification();">
  	  <div class="form-group">
  	    <input type="submit" class="btn btn-primary" value="Generate new Admin Code">
	  </div>
	  <div ng-show="error" class="text-danger">
	    <strong ng-bind="error"></strong>
	  </div>
    </form>
  </div>
</section>